@{
    ViewData["Title"] = "User - ManageEmployee";
}

<!-- Start Application -->

<div class="Application-page" id="Application-page">

    <div class="container">
       
        <img decoding="async" src="~/lib/images\Employee-Management-removebg-preview.png" alt="" class="image" />
        <div class="info">
            <div class="box">
                <img decoding="async" src="~/lib/images/list-removebg-preview.png" alt="" />
                <div class="text">
                    <h3>
                        <a asp-controller="Employee" asp-action="Index">Show Employee List</a>
                    </h3>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- End Application -->
