@{
    ViewData["Title"] = "Application - Index";
}

<!-- Start Application -->

<div class="Application-page" id="Application-page">

    <div class="container">
        <h2 class="title">Main Menue</h2>
        <img decoding="async" src="~/lib/images\ApplicationPage (1).png" alt="" class="image" />
        <div class="info">
            <div class="box">
                <img decoding="async" src="~/lib/images/list-removebg-preview.png" alt="" />
                <div class="text">
                    <h3>
                        <a asp-controller="ClientList" asp-action="List">Show Clinent List</a>
                    </h3>

                </div>
            </div>
            <div class="box">
                <img decoding="async" src="~/lib/images/add-removebg-preview.png" alt="" />
                <div class="text">
                    <h3>
                        <a asp-controller="ClientAdd" asp-action="Add"> Add Now Clinent</a>
                    </h3>

                </div>
            </div>
            <div class="box">
                <img decoding="async" src="~/lib/images/delete-removebg-preview.png" alt="" />
                <div class="text">
                    <h3>
                        <a asp-controller="ClientDelete" asp-action="LookupForDelete">Delete Clinent</a>
                    </h3>

                </div>
            </div>
            <div class="box">
                <img decoding="async" src="~/lib/images/update-removebg-preview.png" alt="" />
                <div class="text">
                    <h3>
                        <a asp-controller="ClientUpdate" asp-action="LookupForUpdate">Update Clinent</a>
                    </h3>

                </div>
            </div>
            <div class="box">
                <img decoding="async" src="~/lib/images/find-removebg-preview.png" alt="" />
                <div class="text">
                    <h3>
                        <a asp-controller="Home" asp-action="Index">Find Clinent</a>
                    </h3>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- End Application -->
