@using Domain.Enums
@using BankSystem.Helpers
@{
    ViewData["Title"] = "Application - Main Menu";
}

<div class="Application-page" id="Application-page">
    <div class="container">
        <h2 class="title">Main Menu</h2>
        <img decoding="async" src="~/lib/images/ApplicationPage (1).png" alt="" class="image" />
        <div class="info">


            @* Transaction Menu *@
            @if (PermissionHelper.HasPermission(User, UserPermissions.Transactions))
            {
                <div class="box">
                    <img decoding="async" src="~/lib/images/Transaction.png" alt="" />
                    <div class="text">
                        <h3>
                            <a asp-controller="Transaction" asp-action="TransactionMenueScreen">Transaction Menu Screen</a>
                        </h3>
                    </div>
                </div>
            }

            @* Show Client List *@
            @if (PermissionHelper.HasPermission(User, UserPermissions.ListClients))
            {
                <div class="box">
                    <img decoding="async" src="~/lib/images/list-removebg-preview.png" alt="" />
                    <div class="text">
                        <h3>
                            <a asp-controller="Client" asp-action="List">Show Client List</a>
                        </h3>
                    </div>
                </div>
            }

            @* Add Client *@
            @if (PermissionHelper.HasPermission(User, UserPermissions.NewClient))
            {
                <div class="box">
                    <img decoding="async" src="~/lib/images/add-removebg-preview.png" alt="" />
                    <div class="text">
                        <h3>
                            <a asp-controller="Client" asp-action="Add">Add New Client</a>
                        </h3>
                    </div>
                </div>
            }

            @* Update Client *@
            @if (PermissionHelper.HasPermission(User, UserPermissions.UpdateClients))
            {
                <div class="box">
                    <img decoding="async" src="~/lib/images/update-removebg-preview.png" alt="" />
                    <div class="text">
                        <h3>
                            <a asp-controller="Client" asp-action="LookupForUpdate">Update Client</a>
                        </h3>
                    </div>
                </div>
            }

            @* Delete Client *@
            @if (PermissionHelper.HasPermission(User, UserPermissions.DeleteClient))
            {
                <div class="box">
                    <img decoding="async" src="~/lib/images/delete-removebg-preview.png" alt="" />
                    <div class="text">
                        <h3>
                            <a asp-controller="Client" asp-action="LookupForDelete">Delete Client</a>
                        </h3>
                    </div>
                </div>
            }

            @* Find Client *@
            @if (PermissionHelper.HasPermission(User, UserPermissions.FindClient))
            {
                <div class="box">
                    <img decoding="async" src="~/lib/images/find-removebg-preview.png" alt="" />
                    <div class="text">
                        <h3>
                            <a asp-controller="Client" asp-action="FindClient">Find Client</a>
                        </h3>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
