@model Domain.TbClient

<h2>Client Witdraw Successfully</h2>

<p>Client <strong>@Model.FullName() @Model.Balance</strong> has been updated.</p>

<a asp-action="TransactionMenueScreen" class="btn btn-primary">Back to Transaction Menue Screen</a>